In [21]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import requests

In [22]:
url='https://www.findeasy.in/districts-in-telangana/'

In [23]:
telangana=requests.get(url).text

In [24]:
soup=BeautifulSoup(telangana,'html.parser')

In [25]:
table=soup.find('tbody')

In [26]:
DATADistrict=[]
Population=[]

In [27]:
for row in table.find_all('tr'):
    column=row.find_all('td')
    district=column[1].text
    population=column[2].text
    DATADistrict.append(district)
    Population.append(population)

In [28]:
df=pd.read_excel("domestic_visitors.xlsx")
District=df["district"].unique().tolist()
District.insert(0,"none")
District

['none',
 'Adilabad',
 'Bhadradri Kothagudem ',
 'Hyderabad',
 'Jagtial ',
 'Jangaon ',
 'Jayashankar Bhoopalpally',
 'Jogulamba Gadwal ',
 'Kamareddy ',
 'Karimnagar ',
 'Khammam',
 'Komaram Bheem Asifabad',
 'Mahabubabad ',
 'Mahbubnagar',
 'Mancherial',
 'Medak ',
 'Medchal ',
 'Mulugu',
 'Nagarkurnool ',
 'Nalgonda',
 'Narayanapet',
 'Nirmal',
 'Nizamabad',
 'Peddapalli',
 'Rajanna Sircilla ',
 'Ranga Reddy',
 'Sangareddy ',
 'Siddipet',
 'Suryapet',
 'Vikarabad',
 'Wanaparthy ',
 'Warangal (Rural)',
 'Warangal (Urban)',
 'Yadadri Bhongir']

In [29]:
tele_dict={"District":District,"DATADistrict":DATADistrict,"Population":Population}
Telegana_population=pd.DataFrame(tele_dict)

In [30]:
Telegana_population=Telegana_population.drop(0)
Telegana_population.drop('DATADistrict',axis=1,inplace= True)

In [31]:
Telegana_population

                    District Population
1                   Adilabad   7,08,972
2      Bhadradri Kothagudem   10,69,261
3                  Hyderabad  39,43,323
4                   Jagtial    9,85,417
5                   Jangaon    5,66,376
6   Jayashankar Bhoopalpally   4,16,763
7          Jogulamba Gadwal    6,09,990
8                 Kamareddy    9,72,625
9                Karimnagar   10,05,711
10                   Khammam  14,01,639
11    Komaram Bheem Asifabad   5,15,812
12              Mahabubabad    7,74,549
13               Mahbubnagar   9,19,903
14                Mancherial   8,07,037
15                    Medak    7,67,428
16                  Medchal   24,40,073
17                    Mulugu   2,57,744
18             Nagarkurnool    8,93,308
19                  Nalgonda   5,66,874
20               Narayanapet  16,18,416
21                    Nirmal   7,09,418
22                 Nizamabad  15,71,022
23                Peddapalli   7,95,332
24         Rajanna Sircilla    5,52,037
25               Ranga Reddy  24,46,265
26               Sangareddy   15,27,628
27                  Siddipet  10,12,065
28                  Suryapet  10,99,560
29                 Vikarabad   9,27,140
30               Wanaparthy    5,77,758
31          Warangal (Rural)   7,18,537
32          Warangal (Urban)  10,80,858
33           Yadadri Bhongir   7,39,448

In [32]:
Telegana_population.to_csv("District_population")